/***************TAG SELECTORS*********/
body{
    margin: 0;
    font-family: 'Jua', sans-serif;
    text-align: center;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Charm', cursive;
    font-size: 5.625rem;
    line-height: 2;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-size: 1.5rem;
    font-weight: normal;
}
p{
    font-size: 1.25rem;
    line-height: 2;
}
a{
    color: #11999E;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 1.4rem;
}
a:hover{
    color: #f6f9f9;
}
hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
/***************ID SELCTORS***********/

#cloud1{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 65%;
}
#cloud2{
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 20%;
}
#work{
    font-size: 2.5rem;
    margin: 0 auto 40px auto;
    font-weight: normal;
    color: #66BFBF;
}
#profile{
    border-radius: 100%;
}
/***************CLASS SELECTORS*******/

.intro{
    width: 27%;
    margin: auto;
}
.top-container{
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #e4f9f5;
}
.middle-container{
    position: relative;
}
.bottom-container{
    background-color: #e4f9f5;
    padding: 2rem 0 1rem;
}
.profile{
    padding: 30px 0;
}
.skills{
   padding: 30px 0;
}
.web-dev-img {
    float: left; 
    width: 25%;
    margin-right: 30px;
    padding-top: 25px;
}
.java-img{
    float: right; 
    width: 25%;
    margin-right: 30px;
    padding-top: 40px;
}
.skill-row{
    width: 50%;
    margin: 30px auto 20px;
    text-align: left;
    /*position: relative;*/
    display: inline-block;
}
.contact-msg{
    width: 30%;
    margin: 20px auto 40px;
}
.copyright{
    font-size: 0.75rem;
    padding: 1rem 0 0;
    margin-bottom: 0;
}
.footer-link:hover{
    color: #4B56D2;
}
.btn {
    background: #62B6B7;
    background-image: -webkit-linear-gradient(top, #62B6B7, #439A97);
    background-image: -moz-linear-gradient(top, #62B6B7, #439A97);
    background-image: -ms-linear-gradient(top, #62B6B7, #439A97);
    background-image: -o-linear-gradient(top, #62B6B7, #439A97);
    background-image: linear-gradient(to bottom, #62B6B7, #439A97);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #82C3EC, #4B56D2);
    background-image: -moz-linear-gradient(top, #82C3EC, #4B56D2);
    background-image: -ms-linear-gradient(top, #82C3EC, #4B56D2);
    background-image: -o-linear-gradient(top, #82C3EC, #4B56D2);
    background-image: linear-gradient(to bottom, #82C3EC, #4B56D2);
    text-decoration: none;
  }